@import "../../../../Variables/variables";

.Donate {
    font-family: $header;
    color: $grey100;
    margin-top: 2rem;
    .imgContainer {
        position: relative;
        .front {
            position: relative;
            z-index: 6;
        }
        .bottom {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 125%;
        }
    }

    h2 {
        font-weight: 800;
        width: 88%;
        text-align: left;
        margin: 1rem auto;
    }

    p {
        width: 88%;
        text-align: left;
        margin: 1rem auto;
    }
    .buttonParent {
        text-align: left;
        margin-bottom: 5rem;
        .primary {
            width: 196px;
            height: 52px;
            margin-left: 6%;
            cursor: pointer;
        }
    }
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .imgContainer {
            .bottom {
                top: 50%;
                right: 0;
                transform: translate(-50%, -50%);
                z-index: 1;
                width: 100%;
            }
        }
        .donate-desc {
            margin: auto auto 2rem auto;

            h2,
            p {
                width: 354px;
                margin: 2rem 0;
            }
            .buttonParent {
                .primary {
                    margin-left: 0;
                }
            }
        }
    }
}
