@import "../../../Variables/variables";
.birdProfileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $font;
  margin-top: 64px;
  width: 390px;

  .postImage {
    width: 390px;
    height: 460px;
    object-fit: cover;
  }

  .profileContainer {
    position: absolute;
    top: 290px;
    padding: 24px;
    border-radius: 24px 24px 0px 0px;
    background-color: pink;
    width: 100%;

    .infoWrapper {
      display: flex;
      flex-direction: column;

      .titleBlock {
        display: grid;
        grid-template-columns: 8fr 1fr;

        .nameBlock {
          display: flex;
          flex-direction: column;

          .commonName {
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
          }

          .scientifcName {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #757575;
          }
        }

        .sound {
          border-radius: 64px;
        }
      }

      .status {
        margin-top: 16px;
        background-color: #e8f5e9;
        border-radius: 20px;
        padding: 4px 8px 6px 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }

      .detail {
        margin-top: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }

      .galleryWrapper {
      }
    }
  }
  .footerWrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 88px;
    span {
      margin-left: 24px;
      margin-top: 34px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
