@import "../../../Variables/variables";

.blockParent {
  margin-bottom: 5rem;
  .block {
    text-align: left;
    img {
      margin-left: 6%;
      margin-top: 2rem;
    }
    h3 {
      margin-left: 6%;
      font-family: $header;
      font-weight: 800;
      color: $grey100;
    }
    p {
      margin-left: 6%;
      font-family: $header;
      font-weight: 400;
      color: $grey80;
      width: 85%;
    }
  }
}
