@import "../../Variables/variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.backGround{
    background-color: $white;
    opacity: 0.3;
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.card{
    padding: 24px;
    
    .addPhotoHeader{
        position: relative;
        
        span{
            font-family: $header;
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            
            margin: 0;
        }
        .exit{
            position: absolute;
            width: 13px;
            height: 13px;
            right: 5px;
            top: 6px;
            margin: 0;
        }
    }
    .addPhotoImg{
        .selectedImg{
            object-fit: cover;
            margin: auto;
            width: 294px;
            height: 294px;
            margin-top: 25px;
        }
    }

    .addPhoto-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
        gap: 8px;
        .primary-grey{
            padding: 12px 19px;
        }
        input{
            visibility:hidden;
            position: absolute;
            z-index: -1;
        }
        button{
            margin: 0;
            
        }
    }

}
