@import "../../../Variables/variables";

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 16px 28px;
    border-bottom: 1px solid $grey40;
    align-items: center;
    margin-bottom: 0;
    position: relative;
    z-index: 100;

    .headerLeft {
        background-image: url(./HeaderIcons/picbeak-icon.svg);
        background-color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    
    
    .headerRight {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        
        .desktopNav {
            display: none;
        }

        .navMenu {
            position: absolute;
            bottom: -274px;
            right: 0;
            display: flex;
            flex-direction: column;
            height:auto;
            background-color: white;
            z-index: 10;
            width: 180px;
            border: 1px solid $grey40;

        button {
            font: normal 700 16px/16px $header;
            background: white;
            border: none;
            text-align:right;
            margin-right: 24px;
            margin-top: 40px;
        }
        button:last-of-type {
            margin-bottom: 40px;
        }
    }

        .navMenuIcon {
            background-image: url(./HeaderIcons/menu.svg);
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin-right:30px;
            padding: 4px;

            &:active {
                border-radius: 64px;
                background-color: $secondary-yellow;
            }
        }
        .profileMenu {
            position: absolute;
            bottom: -158px;
            right: 0;
            display: flex;
            flex-direction: column;
            height:auto;
            background-color: white;
            z-index: 10;
            width: 180px;
            border: 1px solid $grey40;

            button {
                font: normal 700 16px/16px $header;
                background: white;
                border: none;
                text-align:right;
                margin-top: 40px;
                margin-right: 24px;
            }
            button:last-of-type {
                margin-bottom: 40px;
            }
        }
        .profileLink {
            background-image: url(./HeaderIcons/account.svg);
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            width: 30px;
            height: 30px;
            padding: 4px;
            cursor: pointer;

            
            &:active {
                border-radius: 64px;
                background-color: $secondary-yellow;
            }
        }
    }

    @media screen and (min-width: 1000px) {
        .navMenuIcon {
            display: none;
        }

        .headerLeft {
            background-image: url(./HeaderIcons/full-picbeak-logo.svg);
            width: 150px;
        }

        .headerRight .desktopNav {
                display: flex;
                margin: 0 40px 0 0;
                gap: 40px;

                button {
                    font: normal 700 16px/16px $header;
                    background: white;
                    border: none;
                }
            }
        }
    }