@import "../../../../Variables/variables";

.birdPopulation {
    background-color: $light-yellow;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: $header;
    color: $grey100;

    h2 {
        font-weight: 800;
        margin-left: 6%;
        text-align: left;
        width: 75%;
    }

    p {
        margin: 2rem auto;
        width: 88%;
        text-align: left;
        font-weight: 400;
    }

    @media screen and (min-width: 768px) {
        // display: flex;
        // justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        .description {
            margin: auto auto auto 15%;
            h2 {
                width: 65%;
                // margin: 0 auto;
            }

            p {
                width: 62%;
                margin-left: 6%;
            }
        }

        #myChart {
            padding: 0;
            max-width: 100%;
            height: auto;
        }
    }
}
