@import "../../../Variables/variables";

.modalbg {
    background-color: $white;
    opacity: 0.7;
    left: 0;
    top: 65;
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

form {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 24px;

    .modalHeader {
        h1 {
            text-align: center;
            font-size: 20px;
            font-weight: 800;
            margin: 0;
        }

        .exit {
            z-index: 10;
            position: absolute;
            right: 24px;
            top: 24px;
            margin: 3.5px 0;
        }
    }

    .emailWrapper {
        padding-top: 24px;
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
            margin-bottom: 8px;
            color: #283237;
        }

        input {
            height: 40px;
            border-radius: 8px;
            border: 1px solid $grey40;
        }
    }

    .error {
        input {
            border-color: $secondary-red;
        }
    }

    .passwordWrapper {
        padding-top: 16px;
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
            margin-bottom: 8px;
            color: #283237;
        }

        input {
            height: 40px;
            border-radius: 8px;
            border: 1px solid $grey40;
        }

        a {
            font-size: 14px;
            margin-top: 8px;
            text-decoration: none;
            color: $primary;
            font-weight: 700;
        }
    }

    .buttonWrapper {
        margin-top: 40px;
    }

    .primary {
        width: 294px;
        height: 40px;
        line-height: 10px;
    }

    span {
        text-align: center;
        font-size: 14px;
        margin-top: 16px;

        a {
            font-size: 14px;
            margin-top: 8px;
            text-decoration: none;
            color: $primary;
            font-weight: 700;
        }
    }
}
