@import "../../Variables/variables";

.bgDetails {
    background-color: $white;
    .bgHeader {
        width: 64%;
        font-family: $header;
        text-align: left;
        font-weight: 800;
        margin-left: 6%;
    }
}
