@import "../../Variables/variables";
.home {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.bannerContainer {
    background-color: $light-yellow;
    padding: 42px 6vw;
    display: grid;
    grid-template-areas: "1fr";
    gap: 42px;
    background-position: bottom;
    background-repeat: no-repeat;
    div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        p {
            margin-top: 0;
            margin-bottom: 40px;
        }
    }
    img {
        max-width: 100%;
    }
    @media screen and (min-width: 768px) {
        background-position: right;
        grid-template-areas: "1fr 1fr";
        padding: 42px 207px;
    }
}
