@import "../../Variables/variables";

.search-block {
    // margin: 0 auto;
    // align-content: center;
    justify-content: space-around;
    flex-gap: 8px;
    display: flex;
    .searchParent {
        background-image: url("./DiscoverIcons/search.svg");
        // background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 75%;
        font-family: $header;
        font-weight: 400;
        color: $grey60;
        background-position: 10px 12px;
        background-position: left;
        background-position-x: 10px;
        background-color: #fafafa;
        border-radius: 24px;
        width: 294px;
        height: 40px;

        .searchBar {
            padding: 10px;
            margin-left: 0;
            border: none;
            background-color: #fafafa;
            width: 70%;
            outline: none;
        }
    }
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        img {
            width: 100%;
            height: 100%;
            // margin-left: 8px;
        }
    }
}

// #myInput {
//     backgro#myInput {
//   background-image: url('/css/searchicon.png');
//   background-position: 10px 12px;
//   background-repeat: no-repeat;
//   width: 100%;
//   font-size: 16px;
//   padding: 12px 20px 12px 40px;
//   border: 1px solid #ddd;
//   margin-bottom: 12px;
// }und-image: url('/css/searchicon.png');
//   background-position: 10px 12px;
//   background-repeat: no-repeat;
//   width: 100%;
//   font-size: 16px;
//   padding: 12px 20px 12px 40px;
//   border: 1px solid #ddd;
//   margin-bottom: 12px;
// }
