@import "../../Variables/variables";

.bird-filter {
    .searchParent {
        .searchBar {
            background-image: url("./DiscoverIcons/search.svg");
            // background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 75%;
            font-family: $header;
            font-weight: 400;
            color: $grey60;
        }
    }
}

// #myInput {
//     backgro#myInput {
//   background-image: url('/css/searchicon.png');
//   background-position: 10px 12px;
//   background-repeat: no-repeat;
//   width: 100%;
//   font-size: 16px;
//   padding: 12px 20px 12px 40px;
//   border: 1px solid #ddd;
//   margin-bottom: 12px;
// }und-image: url('/css/searchicon.png');
//   background-position: 10px 12px;
//   background-repeat: no-repeat;
//   width: 100%;
//   font-size: 16px;
//   padding: 12px 20px 12px 40px;
//   border: 1px solid #ddd;
//   margin-bottom: 12px;
// }
