@import "../../../../Variables/variables";

.blockParent {
    margin-bottom: 5rem;
    .block {
        text-align: left;
        margin-bottom: 60px;
        margin: 0 6% 60px 6%;
        img {
            // margin-left: 6%;
            margin-top: 2rem;
        }
        h3 {
            // margin-left: 6%;
            font-family: $header;
            font-weight: 800;
            color: $grey100;
        }
        p {
            // margin-left: 6%;
            font-family: $header;
            font-weight: 400;
            color: $grey80;
            width: 85%;
        }
    }

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 6%;
        grid-gap: 4%;
        .block {
            img {
                margin-left: 0;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        margin: 0 206px;
    }
}
