@import "../../../Variables/variables";

#listView {
    margin: 0 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .listViewContainer {
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-flow: row;
        gap: 20px;
        // margin: 0 24px;
    }
    h2{
        text-align: center;
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        font-family: $header;
        margin: 40px 0 4px 0;
    }
    h6 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $grey80;
        text-align: center;
        font-family: $header;
        margin: 0 0 40px 0;
    }
    .changeViewBtn {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 200px;
        bottom: 24px;
    }
}

@media screen and (min-width: 700px) {
    #listView .listViewContainer {
        grid-template-columns: auto auto auto auto auto;
    }
}