@import "../../../Variables/variables";

.card {
    border: 1px solid black;

    font-family: $header;
    width: 342px;
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 24px;
    overflow: hidden;
    z-index: 10;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
