@import "../../../Variables/variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.snackWrapper{
    font-family: $header;
    position: fixed;
    z-index: 100;
    background-color: $grey100;
    width : 342px;
    bottom: 24px;
    padding: 34px 0;
    text-align: center;
    border-radius: 68px;
    color: $white;
    font-weight: 800;
    font-size: 20px;
    opacity: 0;
    line-height: 24px;
    animation: popup 2s .5s ease-in-out ;
}
@keyframes popup{
    0%{opacity: 0.2;}
    30%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}
}