@import "../../../Variables/variables";

.popMsg {
    z-index: 100;
    position: fixed;
    background-color: $grey100;
    color: $white;
    font-family: $header;
    font-weight: 800;
    font-size: 20px;
    padding: 34px 32px;
    border-radius: 68px;
    display: none;
}

.animation {
    left: 50%;
    bottom: -200px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 75%;
    max-width: 444px;
    display: block;
    animation: msgPopup 3s;
}

@keyframes msgPopup {
    0% {
        bottom: -200px;
    }

    20% {
        bottom: 24px;
    }

    40% {
        bottom: 24px;
    }

    60% {
        bottom: 24px;
    }

    80% {
        bottom: 24px;
    }

    100% {
        bottom: -200px;
        display: none;
    }
}
